<div class="answer_post clearfix">
  <a href="/users/<%= answer.user_id %>">
    <div class="user_image"><%= image_tag answer.user.avatar.url(:medium) %>
    </div>
    <div class="answer_content">
      <p class="answer_caption">
        <%= answer.user.name %>
        <%= answer.updated_at %>
      </p>
      <%= simple_format(answer.text, class: 'answer_text') %>
    </div>
  </a>
</div>
