<div class="question_post clearfix">
  <a href="/questions/<%= question.id %>">
    <div class="user_image"><%= image_tag question.user.avatar.url(:medium) %>
    </div>
    <div class="question_content">
      <p class="question_caption">
        <%= question.user.name %>
        <%= question.updated_at %>
      </p>
      <%= simple_format(question.text, class: 'question_text') %>
    </div>
  </a>
</div>
