<div class ="contents row">
  <div style="text-align: right">
    <a href="/questions/#{question.id}/edit">EDIT</a>
  </div>
  <div class="question_post">
      <div class="user_image"><%= image_tag @question.user.avatar.url(:medium) %></div>
      <div class="user_name"><%= @question.user.name %></div>
      <div class="post_time"><%= @question.updated_at %></div>
      <div class="question_content">
        <%= simple_format(@question.text) %>
      </div>
  </div>
  <div style="text-align: right">
    <a href="/questions/#{question.id}">DELETE</a>
  </div>
</div>
  <div class="container">
    <% if current_user %>
      <%= form_for [@question, @answer] do |f| %>
        <div class="form-group">
          <div class="col-lg-6">
            <%= f.text_field :text, placeholder: "Answer Friend's Question", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "SEND", class: "btn btn-primary withripple" %>
        </div>
      <% end %>
    <% end %>
    <div class="answers">
      <h4>＜ANSWERS＞</h4>
      <% if @answers %>
        <% @answers.each do |answer| %>
          <%= render partial: "answer", locals: { answer: answer } %>
        <% end %>
      <% end %>
  </div>
</div>
