<div class ="contents row">
  <div style="text-align: right">
    <a href="/questions/<%= @question.id %>/edit">EDIT</a>
  </div>
  <p class="page_title">
      <%= @question.user.name %>'s Question</p>
  <div class="question_post clearfix">
    <a href="/questions/<%= @question.id %>">
      <div class="user_image"><%= image_tag @question.user.avatar.url(:medium) %>
      </div>
      <div class="question_content">
        <p class="question_caption">
          <%= @question.user.name %>
          <%= @question.updated_at %>
        </p>
        <%= simple_format(@question.text, class: 'question_text') %>
      </div>
    </a>
</div>
  <div style="text-align: right">
    <%= link_to 'DELETE', "/questions/#{@question.id}", method: :delete %>
  </div>
</div>
  <div class="container">
    <% if current_user %>
      <%= form_for [@question, @answer] do |f| %>
        <div class="form-group">
          <div class="col-lg-6">
            <%= f.text_field :text, placeholder: "Answer Friend's Question", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "SEND", class: "btn btn-primary withripple" %>
        </div>
      <% end %>
    <% end %>
    <div class="answers">
      <h4>●ANSWERS●</h4>
      <% if @answers %>
        <% @answers.each do |answer| %>
          <%= render partial: "answer", locals: { answer: answer } %>
        <% end %>
      <% end %>
  </div>
</div>
