<% provide :title, " | Edit Profile" %>

<div class="row form">
  <div class="col-lg-12">
    <%= form_for current_user do |f| %>
      <h2>Image</h2>
      <div class="form-group file">
        <%= f.file_field :avatar, class: "form-control floating-label", placeholder: "Upload Image" %>
      </div>
      <h2>Details</h2>
      <div class="form-group">
        <div class="col-lg-6">
          <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :age, placeholder: "Age", class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :station, placeholder: "Nearest station", class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :apply, placeholder: "Apply status *Please enter YES/NO", class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :availability, placeholder: "Availability", class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :interest, placeholder: "Interest", class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= f.text_field :introduction, placeholder: "Introduction", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "SUBMIT", class: "btn btn-primary withripple" %>
      </div>
    <% end %>
  </div>
</div>
