<div class="row form user_profile">
  <div class="col-lg-12">
    <p>Name</p>
    <div class="user_name"><%= @name %></div>
    <p>Age</p>
    <div class="user_age"><%= @age %></div>
    <p>Area</p>
    <div class="user_nearest_station"><%= @station %></div>
    <p>Apply Status</p>
    <div class="user_apply_status"><%= @apply %></div>
    <p>Availability</p>
    <div class="user_availability"><%= @availability %></div>
  </div>
</div>
    <div class="profile_edit">
      <%= link_to 'Edit Profile', edit_user_path(current_user) %>
    </div>
  </div>
</div>
<div class="contents row" >
  <p><%= @name %>'s Questions</p>
  <% @questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>
</div>
