<div class="row form user_profile">
  <div class="mypage_profile_image">
  <%= image_tag @avatar.url(:medium) %>
  </div>
  <div class="profile_edit">
    <%= link_to 'Edit Profile', edit_user_path(current_user) %>
  </div>
  <table class="user">
    <tbody>
      <tr>
        <th class="arrow_box">Name</th>
        <td><%= @name %></td>
      </tr>
      <tr>
        <th class="arrow_box">Age</th>
        <td><%= @age %></td>
      </tr>
      <tr>
        <th class="arrow_box">Area</th>
        <td><%= @station %></td>
      </tr>
      <tr>
        <th class="arrow_box">Apply Status</th>
        <td><%= @apply %></td>
      </tr>
      <tr>
        <th class="arrow_box">Availability</th>
        <td><%= @availability %></td>
      </tr>
      <tr>
        <th class="arrow_box">Interest</th>
        <td><%= @interest %></td>
      </tr>
      <tr>
        <th class="arrow_box">Introduction</th>
        <td><%= @introduction %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="contents row" >
  <p><%= @name %>'s Questions</p>
  <% @questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>
</div>
